# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
.venv/
venv/
env/
ENV/
*.egg-info/

# Django
media/
staticfiles/

# Node
node_modules/
dist/
build/

# Vite
.vite/

# Editor
.vscode/
*.log

# OS
.DS_Store
Thumbs.db

# Secrets
.env
secrets.env
# Python
__pycache__/
*.py[cod]
*.sqlite3
venv/
.venv/

# Node
node_modules/
/dist

# OS
.DS_Store
Thumbs.db
